body{
    background-color: #F4EEE0;
    color:white;
    
}



.container{
    display: flex;
    border: 5px solid #393646;
    height:450px;
    width :350px;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    flex-wrap: wrap;
    flex-direction: column;

    box-shadow: 0 0 1rem grey;

}

.container2{
    display: flex;
    flex-direction: column;
    

}
.output1,.output2{
    text-align: center;   
    background-color: white;
    font-weight: 700;
    color:black;
    overflow: hidden;
    
   
}

.output1{
    flex:1 1 auto;
    max-width: 350px;
    border-right: 2px;
    border-left:2px;
    border-color: #393646;
    font-size: 1.75rem;
}

.output2{
    flex:1.5;
    max-width: 350px;
    font-size: 2.5rem;
    text-align: right;
}

.row{
    border: 2px solid #393646;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    color: white;
    box-sizing: border-box;
  

}


.title{
    text-align: center;
    margin: 75px auto;
    font-size:30px;
    color:#393646;
}



/* */    

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #F4EEE0;
    color: #393646;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight:1000;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    flex:1 1;
    flex-basis: calc(350/4 ) px;
    border:2px solid #393646;
    box-sizing: border-box;
    border-radius: 5px;

}

button:hover,
button:focus {
    background: #6D5D6E;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


